<!-- <h1>Jakie dystrybucja dla początkującego użytkownika?</h2> -->
<!-- <i>Ubuntu lub Linux Mint na dobry początek.</i> -->
<!-- <h2>Czy gry działają na linuksie?</h2> -->
<!-- <i>Większość.</i> -->
<!-- <h2>Jakie jest zużycie ramu?</h2> -->
<!-- <i>Zależnie od typu środowiska pulpitu (desktop enviorment) od 100Mb do 900Mb.</i> -->
<!-- <h2>Jak działa pakiet office na linuksie?</h2> -->
<!-- <i>Tylko wersja online.</i> -->
<!-- <h2>Czy Mirosław Zelent?</h2> -->
<!-- <i>Bez dwóch zdań.</i> -->


<h1>Środowiska graficzne systemu GNU/Linux</h1>
Przed wyborem odpowiedniego dla własnych potrzeb środowiska graficznego staje kiedyś każdy użytkownik systemów Linux. Szczególnie dla początkujących użytkowników ich ilość może być przytłaczająca. Mam nadzieję, że uda mi się dziś choć trochę przybliżyć najbardziej znane środowiska graficzne, które możemy spotkać w większości dostępnych w internecie dystrybucji Linuksa.

<h2>KDE</h2>

Rozwój KDE rozpoczął się w 1996 roku, a jego pierwszą wersję wydano w 1998 roku. Jest to również, oprócz samego środowiska graficznego, zbiór dedykowanych aplikacji np.: Dolphin, Kdenlive, Okular, KMail, KOrganizer, Kate itd. Najnowsza wersja KDE nazywa się Plazma i występuje w dwóch odmianach – Plazma Desktop i Plazma Netbook. KDE to najbardziej konfigurowalne i elastyczne środowisko pulpitu dostępne na rynku. Wszystkich modyfikacji można dokonać z poziomu ustawień systemowych i nie potrzeba do tego dodatkowego oprogramowania czy pluginów. KDE jest oferowany przez wiele popularnych dystrybucji Linuksa, takich jak KDE neon, Fedora, Linux Mint, OpenSUSE, Kubuntu, PCLinuxOS. Jest także dostępny w wielu innych dystrybucjach.

<h2>GNOME</h2>

GNOME, który został wydany po raz pierwszy w 1999 roku, jest jednym z najpopularniejszych środowisk graficznych w świecie dystrybucji Linuksa. Wiele dystrybucji Linuksa używa go jako domyślnego środowiska dla pulpitu. GNOME został zaprojektowany tak, aby był łatwy w użyciu i konfigurowalny. Najnowsza wersja GNOME 3, która powstała w 2011 roku, ma nowoczesny i atrakcyjny interfejs użytkownika. Niestety zmiany dokonane w GNOME 2, który zapewniał prosty i klasyczny wygląd pulpitu, spotkały się z negatywnym odzewem wśród społeczności i programistów. Spowodowało to powstanie kilku alternatywnych środowisk jak Cinnamon i MATE. Z czasem jednak GNOME odzyskał swoją popularność i jest obecnie powszechnie wykorzystywany. Główne dystrybucje, które wykorzystują GNOME to Debian, Fedora, OpenSUSE i Ubuntu. Jest także dostępny w wielu innych dystrybucjach.

<h2>MATE</h2>
Projekt został stworzony przez społeczność systemu Arch Linux w 2011 roku. MATE swoją nazwę zawdzięcza pochodzącej z Ameryki Południowej roślinie yerba mate. Opiera się na bazie kodu obecnie już nierozwijanego GNOME 2 i był odpowiedzią na rozczarowanie użytkowników najnowszą odsłoną GNOME 3. Ponieważ jest oparty na środowisku graficznym, które od lat jest testowane i ulepszane, działa bezproblemowo. Obsługuje system paneli z różnymi menu, apletami, wskaźnikami, przyciskami itp. i może być dostosowany w dowolny sposób. MATE zawiera zestaw podstawowych aplikacji, z których większość to pochodne aplikacji z GNOME 2. Domyślnie są to między innymi: Caja (menedżer plików), Pluma (edytor tekstu), Atril (przeglądarka dokumentów), Eye of MATE (przeglądarka zdjęć). Zużywa on bardzo niewielką ilość pamięci na własne zasoby, dzięki czemu jest w stanie działać poprawnie na starszym i mniej wydajnym sprzęcie. Do dystrybucji, które używają tego środowiska graficznego, możemy zaliczyć między innymi Ubuntu MATE, Linux Mint, Mageia i Debian. Jest także dostępny w wielu innych dystrybucjach.
