<h1>Filmy nawiązujące do tematyki GNU\Linux?</h1>

<h2>The Social Network</h2>
Film ma niezbyt wiele z systemem operacyjnym GNU/Linux ale to jedyny pełnoprawny film o krórym mam pojęcie, że istnieje i posiada takie nawiązania.Na scenach, gdy widać ekrany laptopów czy komputerów możemy zauważyć że większość ma zainstalowany system UNIX z graficznym interfejsem KDE (obecnie wygląda inaczej, lecz istnieje tak zwany "fork" który zachowuje oldschoolowy wygląd). Na ujęciach widać użytkowanie z terminalu i komend. Obecny jest także edytor tekstowy Emacs. Można także wspomnieć, że Quantino Tarantino uznał ten film za najlepszy film 2010 roku.<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lB95KLmpLR4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
<h2>The Code</h2>
Historia powstania systemu operacyjnego GNU/Linux.<br>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XMm0HsmOTFI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>

<h2>Coś o ruchu "free software" i "open source"</h2>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Ag1AKIl_2GM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
