<h2 id="title">Proszę kliknąć w interesujęce zdjęcie</h2>
<b>Są to przykładowe zdjęcia / screenshoty głównego ekranu użytkowników różnych dystrybucji systemu GNU\Linux których hobby jest dopieszczanie UI, posiadanie spójnego motywu kolorystycznego, zestaw ich ulubionych aplikacji itd...</b><br></br>
<img src="img/rice07.png" width="150" height="100">
<img src="img/rice08.png" width="150" height="100">
<img src="img/rice09.png" width="150" height="100">
<img src="img/rice10.png" width="150" height="100">
<img src="img/rice11.png" width="150" height="100">
<img src="img/rice12.png" width="150" height="100">
<img src="img/rice13.png" width="150" height="100">
<img src="img/rice14.png" width="150" height="100">
<img src="img/rice15.png" width="150" height="100">
<img src="img/rice16.png" width="150" height="100">
<img src="img/rice17.png" width="150" height="100">
<img src="img/rice18.png" width="150" height="100">
<img src="img/rice19.png" width="150" height="100">
<img src="img/rice20.png" width="150" height="100">
<img src="img/rice21.png" width="150" height="100">
<img src="img/rice22.png" width="150" height="100">
<img src="img/rice23.png" width="150" height="100">
<img src="img/rice24.png" width="150" height="100">
<img src="img/rice25.png" width="150" height="100">
<script>
  // animacjaTestowa1
  $("img").on("click", function () {
      $(this).animate({
	  width: "100%",
	  height: "100%",
	  // opacity: 0.9,
	  // fontSize: "3em",
	  // borderWidth: "10px"
      }, 1200); //speed of animation
  });
  // // // animacjaTestowa2
  // $("h2").on({
  //     "mouseover": function () {
  // 	$(this).animate({
  // 	    width: "75%",
  // 	    // height: "50%",
  // 	}, 500);
  //     },
  //     "mouseout": function () {
  // 	$(this).animate({
  // 	    width: "100%",
  // 	    // height: 200,
  // 	}, 500);
  //     }
  // });
  // // animacjaTestowa3
  // $("#animacjaTestowa3").on("click", function () {
  //     if (!$(this).is(":animated")) {
  // 	$(this).animate({
  // 	    width: "+=" + "10%",
  // 	    height: "+=" + "10%",
  // 	    // height: "+=" + 10,
  // 	    // opacity: "-=" + 0.1,
  // 	    duration: 3000 //inny sposób deklaracji czasu trwania animacji
  // 	});
  //     }
  // });
</script>
