<h1><u>Wpisz swoje dane kontaktowe</u></h1>
<h2><i>Formularz kontaktowy</i><br></h2>
<form action="mailto:150998@student.uwm.edu.pl" method="post" enctype="text/plain">
  Adres e-mail:<br><input type="text" name="email"> <br>
  Imię:<br><input type="text" name="fname"><br>
  Nazwisko:<br><input type="text" name="lname"><br><br>
  <input style="font-size:110%" type="submit" value="Wyślij">
</form>

<br><br>
<h1><u>Test PHP</u></h1>
<a href="php/labor_150998_gr3.php?cos1=UŻYTKOWNIKU&cos2=NASZEJ_STRONIE">Test $GET</a>
<form action="php/labor_150998_gr3.php" method="post">
  Imię:<br><input type="text" name="fname"><br>
  Nazwisko:<br><input type="text" name="lname"><br>
  Wiek:<br><input type="text" name="age"><br><br>
  <input style="font-size:110%" type="submit" value="Wyślij">
</form>
