<h1>Podstawowe polecenia</h1>
<h2>I. Polecenia związane z użytkownikami, grupami, loginami i zamykaniem systemu</h2>
<ul>
  <li align='left'>shutdown(zamykamy Linuxa)</li>
  <li align='left'>adduser (dodajemy nowego użytkownika)</li>
  <li align='left'>newgrp (dodajemy nową grupę)</li>
  <li align='left'>passwd (zmieniamy hasła)</li>
  <li align='left'>logout (wylogowanie się)</li>
  <li align='left'>who (sprawdzamy kto jest aktualnie zalogowany)</li>
  <li align='left'>users (j/w)</li>
  <li align='left'>w (j/w)</li>
  <li align='left'>whoami (sprawdzamy kim jesteśmy)</li>
  <li align='left'>mesg (zezwolenie na przyjmowania komunikatów)</li>
  <li align='left'>write (wysłanie wiadomości do danego użytkownika)</li>
  <li align='left'>wall (j/w tylko do wszystkich użytkowników)</li>
  <li align='left'>rwall (j/w tylko do wszystkich w sieci)</li>
  <li align='left'>ruser (wyświetla użytkowników pracujących w systemie)</li>
  <li align='left'>talk (możliwość interaktywnej rozmowy)</li>
  <li align='left'>finger(szczegółowe informacje o użytkownikach)</li>
  <li align='left'>su (zmieniamy się w innego użytkownika)</li>
  <li align='left'>chmod (zmieniamy parametry pliku)</li>
  <li align='left'>chown (zmieniamy właściciela pliku)</li>
  <li align='left'>chgrp (zmieniamy jaka grupa jest właścicielem pliku)</li>
</ul>

<h2>Polecenia związane z procesami</h2>
<ul>
  <li align='left'>ps (pokazuje nam jakie procesy są aktualnie wykonywane)</li>
  <li align='left'>kill ("zabijamy" procesy)</li>
</ul>

<h2>IV. Polecenia związane z pomocą</h2>
<ul>
  <li align='left'>help (wyświetla nam wszystkie polecenia w Linuxie)</li>
  <li align='left'>man (pokazuje nam pomoc do programu)</li>
</ul>

<h2>V. Polecenia związane z kompresją i archiwilizacją</h2>
<ul>
  <li align='left'>gzip(kompresuje nam archiwum *.gz)</li>
  <li align='left'>tar (archiwizuje nam archiwum *.tar)</li>
</ul>

<h1>Co dalej...</h1>
<p>Po więcej informacji i opinii o różnych dystybucjach GNU\Linux zapraszam na
  <a href="https://www.distrowatch.com/">tą stronę.</a>
  <table>
    <tr>
      <th>Dystrybucje dla początkującego</th>
      <th>Dystrybucje dla zaawansowanych</th>
    </tr>
    <tr>
      <td>Ubuntu</td>
      <td>Arch Linux</td>
    </tr>
    <tr>
      <td>Linux Mint</td>
      <td>Gentoo</td>
    </tr>
    <tr>
      <td>Pop!OS</td>
      <td>LinuxFromScrach</td>
    </tr>
  </table>
