/* gruvbox colorscheme */
:root {
    /* normal */
    --black:   #282828;
    --red:     #cc241d;
    --green:   #98971a;
    --yellow:  #d79921;
    --blue:    #458588;
    --magenta: #b16286;
    --cyan:    #689d6a;
    --white:   #a89984;

    /* bright */
    --br-black:   #928374;
    --br-red:     #fb4934;
    --br-green:   #b8bb26;
    --br-yellow:  #fabd2f;
    --br-blue:    #83a598;
    --br-magenta: #d3869b;
    --br-cyan:    #8ec07c;
    --br-white:   #ebdbb2;

}
body{
    background-image: url('../img/rain.gif');
    background-position: center;
    background-size: cover;
}
table{
    align:center;
    border:2px solid var(--white);
    margin-left:auto;
    margin-right:auto;
    font-size:120%;
}
th, td{
    border:1px solid var(--white);
}
a{
    color:var(--br-red);
    font-family: courier;
    font-weight: bold;
}
#title{
    background-color: var(--green);
    color: var(--black);
    text-align: center;
    border-radius: 100px 100px;
    align: center;
    padding: 5px 10px 5px;
    margin: 0% 20% 0%;
}
#button{
    background-color: var(--br-yellow);
    color: var(--blue);
    text-align: center;
    border-radius: 2px 2px;
    font-size: 130%
}
#container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    background-color: var(--br-black);
    color: var(--white);
    text-align: center;
    padding: 15px;
    border-radius: 100px 100px;
}
#content{
    align: center;
    padding: 2%;
    background-color: var(--blue);
    opacity: 0.92;
    color: var(--br-white);
    text-align: center;
    border-radius: 50px 50px;
}
.content{
    align: center;
    padding: 2%;
    color: var(--white);
    text-align: center;
}
footer{
    clean: both;
    background-color: var(--br-black);
    color: var(--red);
    text-align: center;
    border-radius: 100px 100px;
    padding: 15px;
}
#navbar {
    background-color: var(--black);
    position: fixed;
    width: 100%;
    transition: top 1s;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    top: -1px; 
}

#navbar a {
    height: 50%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
#navbar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Lab 2 */
#zegarek, #data{
    color:var(--br-yellow);
    font-family: courier;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
}
#colorSelect{
    color:var(--red);
}
